# Puerto del servidor
PORT_SERVER = 

# Generar cadena de 256 bits -> https://keygen.io/ (SHA 256-bit Key)
AUTH_JWT_SECRET = 

# Duración de los tokens firmados //En segundos (s) en horas (h) en dias (d)
JSON_EXPIRES = 

# Configuración de la base de datos
HOST = 
USER = 
PASSWORD = 
PORT = 
DB = 
dialect = 